.card {
    background-color: rgb(201, 245, 201);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 5px rgb(137, 153, 137);
    border-radius: 10px;
    transition: 0.2s;
    height: 100%;
}

.card__image-container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    height: 60%;
}

.card__image-container img {
    width: 100%;
    height: 100%;
}

.card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.card__text {
    width: 100%;
    height: 40%;
    padding: 0 5px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    background-color: white;
}

.card__text h2 {
    font-size: 25px;
}

.card__text p {
    font-size: 15px;
}


@media only screen and (max-width: 600px) {
    .card {
        /* background-color: rgb(201, 245, 201); */
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        /* box-shadow: 0 0 5px rgb(137, 153, 137); */
        /* border-radius: 10px; */
        transition: none;
    }
    
    .card__image-container {
        /* display: flex; */
        /* justify-content: center; */
        /* padding: 0 10px; */
        /* height: 60%; */
    }
    
    .card__image-container img {
        /* width: 100%; */
        /* height: 100%; */
    }
    
    .card:hover {
        transform: none;
        cursor: none;
    }
    
    .card__text {
        /* width: 100%; */
        /* height: 40%; */
        /* border-radius: 0 0 10px 10px; */
        /* text-align: center; */
        /* background-color: white; */
    }
    
    .card__text h2 {
        font-size: 17px;
    }
    
    .card__text p {
        font-size: 12px;
    }

}