.search-container {
    text-align: center;
    margin-bottom: 30px;
}

.search-container__placeholder {
    width: 25%;
    min-width: 150px;
    max-width: 250px;
    padding: 10px;
    background-color:rgb(206, 248, 248);
    border: 1px solid rgba(0, 128, 0, 0.5);
    /* the border when clicked on the search */
    outline-color: rgba(0, 128, 0, 0.5);
    outline-offset: 3px;
    /* the cursor */
    caret-color: green;
    color: grey;
    /* This must be at least 16px or inherit in order to prevent Safari zooming the page when on mobile phone  */
    font-size: inherit;
    /* This prevents most of the IOS Safari default behavier making sure your search will look the way you want */
    -webkit-appearance: none;
}

/* This is not available in IE */
/* it seems like it works even without the below pseudo placeholder. You can experiment here and see what works best, it seems like the below properties also work above. */
.search-container__placeholder::placeholder {
    font-style: italic;
    /* font-size: 11px; */

}

.search-container__placeholder:focus {
    background-color:rgb(175, 247, 247);
    /* outline: none; */
}

/* Add the search cancel button as it doeasn't come by default in IOS Safari */
.search-container__placeholder::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    /* Now your own custom styles */
    height: 14px;
    width: 14px;
    background-image: url(clear_button/clear_button.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
